body{
  text-align:left;
  font-family:Helvetica, Verdana;
  font-size:12px;
  color:#FFFFFF;
  background-color:#000000;
  margin-left:0px;
  margin-top:0px;
}

table{
  font-size:12px;
}

#tdtitle{
  background-color:#00467F;
}

#tdsubtitle{
  background-color:#009390;
  border-color:#009390;
  border-width:1px;
}

.borcol{
  background-color:#00FF00;
  color:#000000;
}

.suf{
  background-color:#00B0F0;
  color:#000000;
  text-align:center;
}

.sif{
  background-color:#92D050;
  color:#000000;
  text-align:center;
}

.sua{
  background-color:#b2a1c7;
  color:#000000;
  text-align:center;
}

.sia{
  background-color:#fac090;
  color:#000000;
  text-align:center;
}

.menutitle{
  color:#00FF00;
  font-weight:bold;
}

table.in{
  text-align:center;
}

table.in input{
  border:none;
  background-color:transparent;
  font-size:12px;
}

table.in option{
  border:none;
  border-collapse:collapse;
  border-color:#EEEEEE;
  background-color:#EEEEEE;
  color:#000000;
  font-size:12px;
}

#sfont{
  font-size:9px;
}

.swidthqty{
  width:35px;
  text-align:center;
}

.swidth{
  width:35px;
  text-align:right;
}


.swidthmd{
  width:45px;
  text-align:right;
  color:#FFFFFF;
}

.swidthmd2{
  width:60px;
  text-align:right;
  color:#FFFFFF;
}

.swidthfd{
  width:45px;
  text-align:right;
}

.swidthpa1{
  width:60px;
  text-align:right;
  color:#FFFFFF;
}

.swidthpa2{
  width:60px;
  text-align:right;
}

.swidth4{
  width:100px;
}

.swidth10{
  width:300px;
}

.swidththk{
  width:70px;
  text-align:right;
}

.widthtol{
  width:35px;
  text-align:center;
}

.widthdat{
  width:70px;
  text-align:center;
}

.widthol{
  width:150px;
  text-align:left;
}

.olcaninput{
  border:none;
  border-collapse:collapse;
  background-color:#CCCCCC;
  color:#000000;
  font-size:12px;
}

#quotationno{
  border:none;
  background-color:transparent;
  font-size:12px;
}

#runningno{
  border:none;
  background-color:transparent;
  font-size:12px;
}

.caninput2{
  background-color:#CCCCCC;
}

.caninput{
  background-color:#EEEEEE;
}

#width{
  width:200px;
}

#width2{
  width:50px;
}

#width3{
  width:650px;
}

a.gotline{
  color:#FFFFFF;
}

a.gotline:visited{
  color:#FFFFFF;
}

a.noline{
  text-decoration:none;
}

a:link.noline, a:visited.noline{
  color:#FFFFFF;
}

a.link{
  text-decoration:none;
  color:#0099FF;
}

a.link:visited{
  text-decoration:none;
  color:#0099FF;
}

a.link:active{
  text-decoration:none;
  color:#0099FF;
}

a.link:hover{
  text-decoration:none;
  color:#777777;
}

#noprint{
  display:none;
}

.row1{
  background-color:#666666;
}

.row2{
  background-color:#000000;
}

.color1{
  background-color:#FFCC99;
  color:#000000;
}

.color2{
  background-color:#FFC000;
  color:#000000;
}

.color3{
  background-color:#FFFF99;
  color:#000000;
}

.color4{
  background-color:#CCFFCC;
  color:#000000;
}

.color5{
  background-color:#CCFFFF;
  color:#000000;
}

.color6{
  background-color:#99CD00;
  color:#000000;
}

.color7{
  background-color:#FF99CC;
  color:#000000;
}

.color8{
  background-color:#FFFF00;
  color:#000000;
}

.color9{
  background-color:#FF6600;
}

.color10{
  background-color:#FFFFFF;
  color:#000000
}

/* use Gentium Basic - Regular in original .ttf format */
/*
@font-face{
  font-family:Padauk;
  src: url(../fonts/Padauk.ttf);
}

.mmfont{
  font-family: Padauk, sans-serif;	
  font-size:16px;
}
*/
@font-face{
  font-family:Zawgyi-One;
  src: url(../fonts/Zawgyi-One.ttf);
}

.mmfont{
  font-family: Zawgyi-One, sans-serif;	
  font-size:14px;
}