html, body, #wrapper{
  height:100%;
  padding:0px 0px 0px 0px;
  margin:0px 0px 10px 10px;
  border:none;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#FFFFFF;
  background-color:#000000;
}

#width{
  width:200px;
}

.colwhite{
  color:#FFFFFF;
}

#wrapper{
  margin:0 auto;
  text-align:left;
  vertical-align:middle;
  width:420px;
}

.borupdown{
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#FFFFFF;
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:#FFFFFF;
}

.borup{
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:#000000;
}

.bordown{
  border-bottom-style:double;
  border-bottom-width:5px;
  border-bottom-color:#000000;
}

.borupdownall{
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:#000000;
  border-bottom-style:double;
  border-bottom-width:5px;
  border-bottom-color:#000000;
}